{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    <div id="new-post">
        <div id="new-post-form">
            New Post
            <form id="submit-post">
            {% csrf_token %}
                <div>
                    <textarea id="new-post-text"></textarea>
                </div>
                <input type="submit" id="new-post-button" class="btn btn-primary">
            </form>
        </div>
    </div>

    <div id="following-page">
        <div id="following-posts">
            {% for post in post_list %}
                <div class="post">
                    <a href="{% url 'profile' post.poster_id %}">{{ post.poster }}</a>
                    <div>{{ post.content }}</div>
                    <div>{{ post.timestamp }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    

    
{% endblock %}

{% block script %}
    <script  src="{% static 'network/posts.js' %}"></script>
{% endblock %}