{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    <div id="new-post">
        <div id="new-post-form">
            New Post
            <form id="submit-post">
            {% csrf_token %}
                <div>
                    <textarea id="new-post-text"></textarea>
                </div>
                <input type="submit" id="new-post-button" class="btn btn-primary">
            </form>
        </div>
    </div>

    <div id="main-page">
        <div id="all-posts">
            {% for post in post_list %}
                <div class="post">
                    <a href="{% url 'profile' post.poster_id %}">{{ post.poster }}</a>
                    <div id="{{ post.id }}-content">{{ post.content }}</div>
                    <textarea id="{{ post.id }}-text" style="display:none;" value="{{ post.content }}"></textarea>
                    {% if user.is_authenticated %}
                      {% if post in liked %}
                        <button class="btn btn-danger likeButton">Unlike</button>
                      {% else %}
                        <button class="btn btn-danger likeButton">Like</button>
                      {% endif %}
                    {% endif %}
                    {% if post.poster == request.user %}
                      <button class="btn btn-primary edit-button" data-post_id="{{ post.id }}" type="button">Edit</button>
                    {% endif %}
                    <div>{{ post.timestamp }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
        {% if post_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ post_list.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
          
        {% if post_list.paginator.num_pages <= 3 %}
            {% for page in post_list.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
        {% else %}
          {% if post_list.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ post_list.previous_page_number }}">{{ post_list.previous_page_number }}</a></li>
          {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ post_list.number }}">{{ post_list.number }}</a></li>
          {% if post_list.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ post_list.next_page_number }}">{{ post_list.next_page_number }}</a></li>
          {% endif %}
        {% endif %}
        
        {% if post_list.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ post_list.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
        </ul>
      </nav>
    
    

    
{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}