{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    <div id="new-post">
        <div id="new-post-form">
            New Post
            <form id="submit-post">
            {% csrf_token %}
                <div>
                    <textarea id="new-post-text"></textarea>
                </div>
                <input type="submit" id="new-post-button" class="btn btn-primary">
            </form>
        </div>
    </div>

    <div id="main-page">
        <div id="posts"></div>
    </div>
    
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'network/posts.js' %}"></script>
{% endblock %}