#new-post{
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 1px solid rgb(113, 176, 243);
    border-radius: 5px;
    margin:5vh;
}

#new-post-form{
    width:100%;
    height:100%;
}

#new-post-text{
    width:100%;
    height:100%;
    display:block;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#new-post-title{
    font-weight:600;
    font-size:22px;
}

.post{
    border: 1px solid rgb(113, 176, 243);
    border-radius: 5px;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top:2vh;
    padding-bottom:2vh;
    margin:5vh;
    
}

.poster-name{
    color:black;
    font-weight:600;
    font-size:22px;
}

.poster-name-div{
    margin-bottom:2vh;
}

.poster-name:hover {
    text-decoration:none !important ;
    color:black !important ;
}

.likeButton{
    font-size:20px;
}

.tmstmp{
    color:dimgrey;
}

.edit-button{
    display:block;
    margin-bottom: 1vh;
}

.likes-count{
    display:inline;
}

.content{
    margin-bottom: 2vh;
    margin-top: 1vh;
}

.profile-intro{
    margin:5vh;
}

.follow-option{
    margin-top:1vh;
}

.selected-page{
    background-color:rgb(216, 231, 255); 
    font-weight:bold;
}

.navigation{
    margin:5vh;
}